# RCA Report

## Impact
Customer were unable to use the following services due to the outage:
{{ range .servicesAffected }}
    - {{ . }}
{{ end }}

The outage started at {{ .startDateTime }} and ended at {{ .endDateTime }}.

##Root Cause
Something happened

## Suggested fix
No idea